@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@font-face {
    font-family: "Q_li";
    src: url("Blackbird.ttf");
}

*{
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body{
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: sans-serif;
}

#right{
    background-image: url(table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%
}

#left{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
}

header, #h1_p, #form, #para {
    padding: 2rem 2rem 1.5rem 2rem;
}

#first, #second{
    font-size: 1.5rem;
}

#first{
    color:  rgb(102, 11, 138);
    font-family: serif;
    font-size: 3rem;
    font-weight: bold;
}

#second{
    font-family: "Q_li";
}

#h1_p h1{
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
}

#h1_p p {
    font-size: 1.15rem;
}

form{
    display: flex;
    flex-direction: column;
}

#name{
    display: flex;
    flex-direction: row;
    width: 95%;
}

.name{
    width: 50%;
}


label{
    font-size: 1.15rem;
    color: #4a5568;
    margin-bottom: .25rem;
    line-height: 2;
    font-weight: 700;
}

input{
    border: 0 solid #e2e8f0;
    font-size: 100%;
    background-color: #edf2f7;
    color: #1a202c;
    padding: 1rem;
    width: 90%;
    margin-bottom: .75rem;
    border-radius: 5px;
}

#terms a{
    color: black;
}

form button{
    background-color: rgb(102, 11, 138);
    color: #fff;
    margin-top: 1.5rem;
    margin-right: 1rem;
    padding: .75rem 10rem;
    font-weight: 700;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
    margin-bottom: 2rem;
    width: 90%;
}

#link{
    font-size: 1.15rem;
    color: rgb(102, 11, 138);
}

#link a{
    text-decoration: none;
    color: rgb(102, 11, 138);
}

@media only screen and (max-width: 820px) {
    #right {
        display: none;
      }

      #left{
        width: 100%;
        height: 100%;
        background-image: url(table.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #content{
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301));
        background-color: rgba(240, 248, 255, 0.699);
    }

    label{
        color: #000;
        font-weight: 700;
    }
    
    form button{
        width: 90%;
    }
    }

@media only screen and (max-width: 420px) {
    *{
        padding: 0;
        margin: 0;
    }

    header, #h1_p, #form, #para {
        padding: 1rem 0 0 1rem;
    }

    #first{
        font-size: 2rem;
    }

    #second{
        font-size: 1.25rem;
    }

    #h1_p h1{
        padding-bottom: .25rem;
        font-size: 2rem;
    }

    label{
        font-size: .75rem;
        margin-bottom: .125rem;
        line-height: 1;
        font-weight: 600;
    }

    input{
        padding: .5rem;
        width: 90%;
    }

    form button{
        padding: .75rem 5rem;
        width: 90%;
    }
}
